.git
.github
.venv
node_modules
vendor
tests
storage/logs/*
storage/framework/cache/*
storage/framework/sessions/*
storage/framework/views/*
.env
.env.backup
docker-compose*.yml
*.md
phpunit.xml
.editorconfig
